matplotlib
pyplot
streamlit
pandas
altair
plotly.express
plotly.graph_objects
streamlit_option_menu
requests
branca.colormap
branca.colormap
folium
streamlit_folium
pycountry
time
os
scipy.stats
PIL
numpy
statsmodels.api
seaborn
tempfile
